@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fjalla+One');
.form-control {
    height: 40px;
}

input {
    background-color: transparent;
    width: 50px;
    border: 1px solid black;
}

#search {
    // height: auto;
    font-size: 18px;
    border: 1px solid black;
    text-transform: uppercase;
    color: gray;
    border-radius: 0;
}

.navbar-nav {
    height: 60px;
    line-height: 30px;
}

.userImg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

button {
    border-radius: none!important;
}

a {
    color: #6B76CB;
}

.navbar-brand {
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
}