<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid  ">
        <a class="navbar-brand" routerLink="/home">
            <img src="../../../assets/images/devcity-logo.png" class="logo mr-2" />DEVCITY
        </a>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item ">
                    <a class="nav-link text-uppercase" routerLink="/home" [routerLinkActive]="['is-active']" > Home </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" routerLink="/register">
                        <i class="fa fa-sign-in-alt fa-1x"></i>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <div class="input-group">
                        <input id="searchTerm" type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button id="search" class="btn btn-default" type="button">search
                            </button>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/me/list"><i class="fas fa-list-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-bell"></i></a>
                </li>
                <li class="nav-item">
                    <button class="btn" routerLink="/plan">Upgrade </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link " 
                    
                    (click)="getUser()"
                    >
                    <img 
                     mat-button [matMenuTriggerFor]="menu"
                     src="../../../assets/images/users/user_1.png" class="userImg" />

                    </a>
                    <mat-menu 
                    #menu="matMenu" 
                    [overlapTrigger]="false"
                    xPosition ="after"
                    >  
                    <a
                     mat-menu-item
                     *ngFor="let userAbility of userAbilities , let i= index"
                     (click)="onUserAbilitySelect(userAbility,i)"
                     routerLink="/user/{{userAbility}}"
                    >
                    {{userAbility}}
                   
                    </a>
                    
                    </mat-menu> 
                </li>
          
             
               <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">
                        <i class="fas fa-cogs fa-1x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " (click)="logout()"><i class="fas fa-sign-out-alt fa-1x"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<app-divider></app-divider>