<div class="container">
    <div class="col-md-6 mt-5 p-5">
        <div class="row">
            <div class="heading">
                <p> haven't an Account ?! </p>
                <a routerLink="../register">Register</a>
            </div>
        </div>
        <!-- <h1> Log In </h1> -->

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="email">Email </label>
                <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email">

            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="text" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                   Login
                </button>

            </div>
            <div class="form-group border-top">
                <a routerLink="/forgetPassword" class="btn btn-link"> Forget Your Password !! ?  </a>
            </div>
        </form>

    </div>

</div>