.bg {
    background-image: url("../../../assets/images/regester.jpg");
    background-position: 50% 50%;
    background-size: cover;
    // height: 670px;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: #9bcd9b;
}