<div>

    <button class="btn btn-primary"> Pay </button>
    <div class="pay-methods">
        <i class="fa fa-home"></i>
        <i class="fa fa-home"></i>
        <i class="fa fa-home"></i>
        <i class="fa fa-home"></i>
        <i class="fa fa-home"></i>
        <i class="fa fa-home"></i>
    </div>

    <form [formGroup]="formPay" (onSubmit)="payWith()">

        <app-input [control]="formPay.get('cardNum')" label="Card Number" placeholder="Your Card Number "></app-input>
        <app-input [control]="formPay.get('exDate')" label="Expiration Date" placeholder="Your Expiration Date "></app-input>
        <app-input [control]="formPay.get('sCode')" label="Security Code" placeholder="Secret Code"></app-input>

        <div class="my-4">
            By starting a DEVCITY membership, you agree to our Membership Terms of Service. Your payment method will be charged a recurring USD $50 yearly fee, unless you decide to cancel. No refunds for memberships canceled between billing cycles
        </div>
        <button type="submit" class="btn btn-outline-primary"> Pay with credit | debtCard </button>
    </form>

</div>


<div class="my-5">
    for debugging burposes
    <div> Form is valid ? {{formPay.valid}}</div>
    <div> Form value {{formPay.value | json}}</div>

</div>