<div class="section_trending">

    <div class="body d-flex justify-content-between">
        <div class="number mr-2">
            <span class="trending_numb text-muted">  01</span>
        </div>
        <div class="content ">
            <div class="d-flex flex-cloumn mb-3">
                <img src="../../../assets/images/trendIcons/trendIcon2.png" class="mr-2" />
                <h6 class="text-uppercase"> tim dening in the asent </h6>

            </div>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ea voluptatum qui. </p>
        </div>
    </div>
    <div class="footer d-flex justify-content-start">
        <span class="small text-muted left"> Dec13 . 6min read <i class="fa fa-star"></i> </span>
    </div>

</div>