/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
* {
    font-family: monaco;
}

input {
    outline: 0;
    border-radius: 0 !important;
    &:focus {
        outline: none;
    }
}

i {
    cursor: pointer;
}

hr {
    // display: block;
    // height: 1px;
    // border: 0;
    // border-top: 1px solid rgb(8, 0, 0);
    // margin: 1em 0;
    // padding: 0;
}

.special {
    height: 550px;
}

button {
    border-radius: 0 !important;
}