/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
//  Global  
* {
    font-family: monaco;
}

input {
    outline: 0;
    border-radius: 0 !important;
    &:focus {
        outline: none;
    }
}

.btn:focus,
textarea:focus,
select:focus {
    // outline: none !important;
    // outline-width: 0 !important;
    box-shadow: none !important;
}

i {
    cursor: pointer;
}

.special {
    height: 550px;
}

button {
    border-radius: none !important;
}

.bg_Color {
    background-color: #fa9579 !important;
    color: #fff;
    padding: 2px 0 !important;
    width: 120px !important;
}

.bg_Color:hover {
    color: #fff;
}

.logo {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 3px;
    letter-spacing: 5px;
    margin-top: -5px;
}

.btn {
    border-radius: 0;
    background-color: #fa9579;
    color: #fff;
    border-color: none;
}