<!--  Start footer Component -->
<div class="container">

    <div class="row  my-5 ">
        <!-- footer item  -->
        <!-- will be repeated for different footer items  -->
        <div class="col-md-4" *ngFor=" let item of footer_items_data ">
            <app-footer-item [item]="item"></app-footer-item>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-6">
            <div class="d-flex">
                <img src="../../../assets/images/devcity-logo.png" class="logo mr-2 mt-2" />
                <h1> DEVCITY </h1>
            </div>
        </div>
        <div class="col-6 text-right">
            <ul class="list-inline">
                <li class="list-inline-item mx-2">
                    <a routerLink="/about"> About </a>
                </li>
                <li class="list-inline-item">
                    <a routerLink="/help"> Help </a>
                </li>
                <li class="list-inline-item ml-2">
                    <a routerLink="/legal"> Legal </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- copy wright footer  -->
    <app-divider></app-divider>
    <div class="row  align-items-end">
        <div class="container">
            <p class="text-capitalize text-center lead ">
                &copy; All Copy rights are reserved to &hearts; L_L &hearts; Corporation
            </p>
        </div>

    </div>
</div>





<!--  End footer Component -->