<!--  Start footer Component -->
<div class="container">

    <div class="row  my-5 ">
        <!-- footer item  -->
        <!-- will be repeated for different footer items  -->
        <app-footer-item></app-footer-item>

    </div>

    <div class="row my-2">
        <div class="col-6">
            <h1> DEVCITY </h1>
        </div>
        <div class="col-6 text-right">
            <ul class="list-inline">
                <li class="list-inline-item mx-2">About</li>
                <li class="list-inline-item">Help</li>
                <li class="list-inline-item ml-2">Legal</li>

            </ul>
        </div>
    </div>


</div>

<div class="s_footer mt-3">
    <p class="text-center">
        &copy; All Copy rights are reserved to &hearts; Loka Corporation
    </p>

</div>


<!--  End footer Component -->