<div class="container">

    <div class="row border-bottom my-5">
        <div class="col-4">
            <h3>learn More </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. liquid cupiditate. Necessitatibus laudantium exercitationem assumenda inventore, deleniti atque sequi
            </p>
            <a routerLink="/more"> Learn More  </a>
        </div>
        <div class="col-4">
            <h3>Make DEVCITY yours </h3>
            <p> Lorem ipsum dolor sit amet i ad , velit quae ssitatibus laudantium exercitationem assumenda inventore, deleniti atque sequi magnam sunt. </p>
            <a routerLink="/explore"> Explore  </a>
        </div>
        <div class="col-4">
            <h3>Share Your Thinking </h3>
            <p> Lorem ipsum dolor pisci ad impedit velit quae aliquid ssitatibus laudantium exercitationem assumenda inventore, deleniti atque sequi magnam sunt. </p>
            <a routerLink="/write">Write On DEVCITY </a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-6">
            <h1> DEVCITY </h1>
        </div>
        <div class="col-6 text-right">
            <ul class="list-inline">
                <li class="list-inline-item mx-2">About</li>
                <li class="list-inline-item">Help</li>
                <li class="list-inline-item ml-2">Legal</li>

            </ul>
        </div>
    </div>
</div>

<div class="s_footer mt-3">
    <p class="text-center">
        &copy; All Copy rights are reserved to &hearts; Loka Corporation
    </p>

</div>