@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fjalla+One');
.form-control {
    height: 40px;
}

input {
    background-color: transparent;
}

#search {
    height: auto;
    font-size: 18px;
    border: 1px solid black;
    text-transform: uppercase;
    color: #fff;
}