
 <!-- start navbar  of page USER PROFILE-->
    <p>
      <mat-toolbar  class="justify-content-between">
       <div>
        <i class="fas fa-angle-left mr-4"></i>
        <span class="userImg mr-2">A V</span>
        <span>| Design</span>
        
       </div>
        
        <span class="example-spacer"></span>
        <div>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

     <div>
      <button mat-flat-button color="warn">Cancel</button>
      <button mat-button color="primary">Publish</button>
     </div>

      </mat-toolbar>
    </p>
   
  
    <!-- Start user abilities Settings  -->
   <div class="container-fluid">
    <div class="row ">
     <div class="col-2 "> 
       <!-- color setting Item -->
         <mat-form-field  class="my-3">
           <mat-label>colors</mat-label>
           <mat-select>
             <mat-option *ngFor="let color of colors" [value]="color.value">
               {{color.viewValue}}
             </mat-option>
           </mat-select>
         </mat-form-field>

<!-- font setting Item -->
         <mat-form-field  class="my-3">
          <mat-label>Fonts</mat-label>
          <mat-select>
            <mat-option *ngFor="let font of avaliableFonts" [value]="font.value">
              {{font.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
<!-- header setting Item -->
        <mat-form-field  class="my-3">
          <mat-label>Header</mat-label>
          <mat-select>
            <mat-option *ngFor="let font of avaliableFonts" [value]="font.value">
              {{font.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>





     </div>
     <!-- Start  Divider  -->
    <div class="col-1  d-flex justify-content-center">
      <mat-divider class="horizontal"></mat-divider>
    </div>
     <!-- End Divider  -->
     <div class="col-9 ">
       <!-- start Header -->
      <div class="row">
          <div class="col-12">
            <p>
              <mat-toolbar class="justify-content-between">
               <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              
              </button> -->
              <div class="group-1">
                <span class=""> AV </span>
              <span class="example-spacer"></span>
              <button mat-stroked-button class="mr-2" color="primary">About</button>
              <button mat-stroked-button color="primary">Follow</button>
              </div>
        <div class="group-2 "> 
          <i class="fas fa-ellipsis-h"></i>
          <i class="fa fa-search mx-4"></i>
               <button mat-stroked-button class="mr-2">Upgrade</button>
               <span>logo</span>
        </div>
      
            </mat-toolbar>
              </p>

          </div>
      </div>
      <!-- End Header -->
<!-- Start body of user Profile Page -->

    <div class="row">
      <div class="col-12">
         <section class="article-view my-3">
               <h6> Published in Your publication name.<span class="text-muted"> Feb 24 </span> </h6>

             <div class="article-view-body">
                <h5 class="tetx-muted text-uppercase mt-3">jam scott</h5>
                <h3 class="my-3"> what's in a title,anyway? </h3>
                <p > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sunt laudantium ea facilis odit, porro laborum, maiores architecto est illo iusto eum expedita dolorem! Reprehenderit. </p>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="https://via.placeholder.com/600/000/FFF/?text=L_L Corporation" class="d-block">
                <span class="text-center my-2"> Lorem ipsum dolor sit amet. </span>
              </div>
             </div>
            
             <div class="article-view-icons d-flex justify-content-around my-3">
             
              <i class="text-muted fas fa-hand-holding-heart fa-1x"></i>
               
                 <i class="text-muted fa fa-share fa-1x"></i>
                 <i class="text-muted  fa fa-save fa-1x"></i>
                 <i class="text-muted fas fa-ellipsis-h fa-1x"></i>
              </div>

         </section>

      </div>
    </div>
<!-- end body of user Profile Page -->

     </div>
   </div>

   </div>
    <!-- End user abilities Settings  -->