<div>
  <span 
  (click)='iconClicked()'
  class="text-center"
  id="dropdown1" ngbDropdownToggle> 
      <i class="fa fa-ellipsis-v"></i>
  </span>
  <div *ngIf="checkState" class="mt-3" >
      <div 
      class="d-flex flex-column"
      ngbDropdownMenu 
      placement="bottom"
      aria-labelledby="dropdown1">
        <span 
        class="btn_setting p-2 small"
        *ngFor="let setting of drop_user_setting"
        (click)="clickSetting(setting)"
         ngbDropdownItem>{{setting.title }}</span>
        
      </div>
  </div>

</div>
