.notFound {
    width: 600px;
    height: 200px;
    border: 1px solid red;
    margin: 20px auto;
    padding: 10px;
    color: black;
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 35px;
        margin: auto;
    }
}