<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >{{userProfile.followerName }}</a>
 
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link">140K Followers </a>
        <a class="nav-item nav-link" routerlink="/about">About</a>

        <a class="btn nav-item nav-link" routerlink="">

            Following
        </a>
       
      </div>
    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light my-5">
    <a class="navbar-brand"  routerLinkActive="active">{{userProfile.followerName}}</a>
    
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" >147k followers </a>
        </li>
       
       
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" [routerLink]="['../',userProfile.followerName,'/about']">About</a>
        </li>
        <li class="nav-item">
            <a class="btn nav-link" >Following </a>
          </li>
      </ul>
      <form class="form-inline my-2">
        <input 
        class="form-control" 
        (input)="searchArticles($event.target.value)"
        placeholder="Search" >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav> 