<div class="container">
    <div class="row my-4">
        <div class="col-12">

             <!-- Start Main Form  -->
            <form>
                <!-- start  title of story   -->
                <mat-form-field [formGroup]="formAddArticle" class="c-input">

                    <mat-label>Title</mat-label>
                    <input formControlName="title" autocomplete="off" matInput
                        placeholder="Ex. How To Write Clean Code " class="text-muted">
                </mat-form-field>
                <!-- end  title of story   -->
                <!-- Start icon +  -->
                <div class="iconPlus  my-4">
                    <i (click)="changeShowState()" class="fa fa-plus-circle fa-2x mr-4 mb-3 "></i>

                    <div class="d-flex flex-column" *ngIf="showIconState">
                        <!-- Icon image upload   -->
                        <div class="ability imgUpload ">
                            <input style="display:none" type="file" id="img" />
                            <label for="img">
                                <i class="fa fa-camera "></i>
                            </label>
                        </div>
                        <!-- Icon Search  -->
                        <div class="ability search ">
                            <mat-form-field [formGroup]="searchGroup" class="search c-input" *ngIf="searchInput">
                                <input formControlName="search" autocomplete="off" matInput [(ngModel)]="searchKeyword"
                                    (keyup.enter)="searchImages()"
                                    placeholder="Type keywords to search Unsplash, and press Enter">
                            </mat-form-field>
                            <label for="searchUnSplach">
                                <i class="fa fa-search  " (click)="searchClicked()" *ngIf="IconSearchStat"></i>
                            </label>
                        </div>
                        <!-- Icon play  -->
                        <div class="ability play ">
                            <form [formGroup]="playGroup">
                                <mat-form-field class="play c-input" *ngIf="playStateFeild">
                                    <input 
                                    matInput 
                                    (keyup.enter)="onKeyEnter($event)" formControlName="play"
                                    class="w-100"
                                     placeholder="Paste a YouTube, Vine, Vimeo, or other video link, and press Enter">
                                </mat-form-field>
                            </form>

                            <label for="videoLink" (click)="showInputvideoLink()">
                                <i class="fa fa-play " *ngIf="playStateIcon" (click)="playClicked()"></i>
                            </label>
                        </div>
                        <!-- Icon code  -->
                        <div class="ability code ">
                            <i class="fa fa-code"></i>
                        </div>

                      </div>

                    <!-- <iframe 

                   *ngIf="isPassedUrl" width="560"
                    height="315" 
                   [src]="https://www.youtube.com/embed/+{{videoId|safe}}+" 
                   [src]=`www.youtube.com/embed/+{{videoId|safe}}+`
                   
                   frameborder="0" 
                   allowfullscreen
 
                   ></iframe> -->


                    <iframe *ngIf="isPassedUrl" width="560" height="315"
                        [src]="'https://www.youtube.com/embed/'+ videoId | safe:'resourceUrl'" frameborder="0"
                        allowfullscreen></iframe>


                    <!-- <iframe *ngIf="isPassedUrl" height="560" width="500"  
                    src="https://www.youtube.com/embed/8EhFDJ0SGSA"> 
                    </iframe>  -->
                </div>


                <!-- End icon +  -->

                <!-- text Area | Story Body     -->
                <mat-form-field appearance="fill" class="c-input">
                    <mat-label class="mb-3">Write Astory </mat-label>
                    <textarea 
                    [formControl]="formAddArticle.get('newStory')"
                    class="c-input-special text-muted"
                     matInput placeholder="It makes me feel..."></textarea>
                </mat-form-field>


          

            </form>
            <!-- End Main Form  -->
           

             <!--Start Section  Results for searching Images  -->
             <section class="my-4" *ngIf="ImageData">
               <!--  If Results  -->
                    <div class="row">
                        <div class="imagDetail col-3" *ngFor="let image of ImageData">
                                <a target="_blank" [href]="image.links.download">
                                    <img 
                                    class="imageData w-100 mb-2 " 
                                    [src]="image.urls.thumb"
                                    
                                    >
                                   
                                </a>
                                <i (click)="onSelectImg(image)" class="iconAdd fa fa-plus-circle fa-2x "></i>
                            
                        </div>
                    </div>
                    <!--  If No Results  -->
             
                <div *ngIf="!ImageData || !searchKeyword">
                    <p class="lead text-center text-muted text-danger" > No Images Founded !! || try Later  </p>
                </div>
         
            </section>
             <!--End Section  Results for searching Images  -->
              <!-- Start btns Control -->
            <div class="btnsControl">
                <button class="btn  mr-3" > Publish </button>
                <button class="btn " (click)="formAddArticle.reset()"> Reset </button>
             </div>
             <!-- End btns Control -->


        </div>
    </div>
<!--  Start Row For Previewing images   -->

    <div class="row">
       <div class="col-12">
        <div *ngIf="imageSelectedPreviewUrl" class="image-container">
            <p> Preview Selected Image  || regular one  </p>
            <img [src]="imageSelectedPreviewUrl" class="image-preview">
        </div>
       </div>
    </div>
<!--  End Row For Previewing images   -->

</div>




<div class="small text-muted text-center">
    <p> this div for testing form feilds </p>
    <p>
        form feilds Values {{ formAddArticle.value | json }}
    </p>
    <p>
        form feilds Values {{ playGroup.value }}
    </p>
</div>


