<article class="mb-5">
    <div class="left-part d-flex ">

        <img src="../../../assets/images/followers/child.png" class="userArticle mr-3" />
        <div class="d-flex flex-column justify-content-between ">
            <h5 class="text-muted"> lolaloka </h5>
            <p class="small">Lorem ipsum dolor sit amet.</p>
            <span class="text-muted font-italic small"> Jun 14 .4min read <i class="fa fa-star"></i> </span>
        </div>
        <app-divider></app-divider>
    </div>

</article>