<section>
    <div class="followers">
        <div class="follower">
            <h5 class="mb-5 text-uppercase"> Latest from following </h5>
            <img src="../../../assets/images/followers/loka.png" class=" mb-3 userFollower" />
            <h5 class="lead"> walla Mamdouh </h5>
        </div>
    </div>
    <div class="topics my-5">
        <div class="topic d-flex justify-content-between mb-3">
            <h6> Money </h6>
            <button class="btn btn-success" type="button ">Follow </button>
        </div>
        <div class="topic d-flex justify-content-between mb-3">
            <h6> Artificial Intelligance </h6>
            <button class="btn btn-success" type="button ">Follow </button>
        </div>
        <div class="topic d-flex justify-content-between">
            <h6> Machine Learning </h6>
            <button class="btn btn-success" type="button ">Follow </button>
        </div>

    </div>
</section>