// unworking 
.divider {
    background: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #333;
    font-size: 40px;
    padding: 50px;
    max-width: 50%;
    margin: 100px auto 0;
}

.content {
    // margin-top: -17px;
    font-family: "Arial";
}