<!--   Start navbaR   -->
<app-navbar> </app-navbar>
<!--   end navbar   -->


<!-- start  notification -->
<app-alert></app-alert>
<!-- end notification -->


<!-- START  DIRECTION  -->
<router-outlet></router-outlet>
<!-- end  DIRECTION  -->

<hr/>

<!-- start HOME PAGE **************************************-->
<div class="container">
    <div class="special row my-5">
        <!-- start col -->
        <div class="col-md-4">
            <app-main-article></app-main-article>
        </div>
        <!--  Middel col  -->
        <div class="col-md-5 ">
            <!-- article  -->
            <app-article></app-article>
            <app-divider></app-divider>
            <app-article></app-article>
        </div>
        <!-- last Col -->
        <div class="col-md-3">
            <!-- Follower InFO -->
            <app-follower></app-follower>
        </div>
    </div>
    <app-divider></app-divider>
    <!--  start tranding section   -->

    <div class="row">
        <div class="col-md-4">
            <!-- start tranding item -->
            <div class="section_trending">
                <div class="head d-flex my-5">
                    <i class="fa fa-circle fa-2x mr-2"></i>
                    <h4 class="trending text-uppercase"> Trending on DEVCITY </h4>
                </div>
                <div class="body d-flex justify-content-between">
                    <div class="number mr-2">
                        <span class="trending_numb text-muted">  01</span>
                    </div>
                    <div class="content">
                        <img src="" class="" />
                        <h5 class="text-uppercase"> tim dening in the asent </h5>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ea voluptatum qui. </p>
                    </div>
                </div>
                <div class="footer d-flex justify-content-end">
                    <span class="small text-muted"> Dec13 . 6min read <i class="fa fa-star"></i> </span>
                </div>

            </div>

        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>

    </div>

    <!--  End tranding section   -->
</div>

<!-- END  HOME PAGE -->


<!--  start footer   -->
<app-footer></app-footer>
<!--  end footer   -->