<!--   Start navbaR   -->
<!-- <app-navbar> </app-navbar> -->
<!--   end navbar   -->


<!-- start  notification -->
<app-alert></app-alert>
<!-- end notification -->






<!-- ******************* START HOME PAGE *********************** -->
<div class="container">
    <!-- start  Main head Section    -->
    <div class="row my-5">
        <!-- start col -->
        <div class="col-md-4">
            <app-main-article></app-main-article>
        </div>
        <!--  Middel col  -->
        <div class="col-md-5 ">
            <!-- article  -->
            <app-article></app-article>
            <app-divider></app-divider>
            <app-article></app-article>
        </div>
        <!-- last Col -->
        <div class="col-md-3">
            <!-- render all Followers  InFO -->
            <h5 class="mb-5 text-uppercase"> Latest from following </h5>
            <!-- Followers -->
            <app-user-followers></app-user-followers>

            <!--  Start Section topics  -->
            <div class="row">
            <!-- start Topics -->
                <div class="topics my-5">
                    <!--  Start  of individual topic   -->
                    <div class="topic d-flex justify-content-between mb-3">
                        <h6> Money </h6>
                        <button class="btn btn-success" type="button ">Follow </button>
                    </div>
                    <!--End of individual topic   -->
            
            
                    <div class="topic d-flex justify-content-between mb-3">
                        <h6> Artificial Intelligance </h6>
                        <button class="btn bg_Color" type="button">Follow </button>
                    </div>
            
                   <div class="topic d-flex justify-content-between">
                        <h6> Machine Learning </h6>
                        <button class="btn btn-success" type="button ">Follow </button>
                    </div>
                    <!-- <input #phone placeholder="phone number" />
            
                    lots of other elements -->
            
                    <!-- phone refers to the input element; pass its `value` to an event handler
                    <button (click)="callPhone(phone.value)">Call</button> -->
            
            
            
                </div>
            
            </div>

            <!--  End Section topics  -->
        </div>
    </div>
    <!-- End  Main head Section    -->
    <app-divider></app-divider>
    <!--  Start tranding section   -->
    <div class="row">
        <app-header-section></app-header-section>
        <app-trending-section></app-trending-section>
    </div>
   <!--  End tranding section   -->

    <app-divider></app-divider>

  <!--  Start articles section   -->
   <div class="row">
    <app-articles-section> </app-articles-section>
   </div>
<!--  End articles section   -->


  
    <app-divider></app-divider>

</div>

<!-- ******************* END HOME PAGE *********************** -->



<!-- START  DIRECTION  -->
<router-outlet></router-outlet>
<!-- end  DIRECTION  -->

<!--  start footer   -->
<!-- <app-footer></app-footer> -->
<!--  end footer   -->