<div class="row">
    <div class="col-md-8"  >
        <app-article-section
        *ngFor = "let article of articles"
         [article] = "article"
         ></app-article-section>
        <!-- <app-article-section></app-article-section>
        <app-article-section></app-article-section> -->
    </div>
    <div class="col-md-4">
        <div class="row">
            <app-nav-list></app-nav-list>
        </div>
        <div>
          `  here will be all saved item by user `
        </div>
    </div>
</div>